<%- include('partials/header') %>
<div id="" class="container main-container-styles">
  <%- include('partials/appName') %>
  <div class="row ">
    <div class="  col-sm-12 ">
      <h1 class="title-styles" id="register-title ">Confirm Your Identity</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <% if(errorMsg){ %> 
        <p class="error-styles text-danger"><%= errorMsg %> </p>
      <% }; %>
    </div>
  </div>
    
          <form id="pass-reset-form" action="/passwordReset" method="POST"></form>
          <div class="container">
            <div class="row">
              <div class="col-12 form-group">
                <label for="firstName">First Name</label>
                <input form="pass-reset-form" type="text" class="form-control input-fields-register-styles" id="firstName" name="firstName">
              </div>
            </div>
          </div>
          
            <div class="container">
              <div class="row">
                <div class="col-12 form-group">
                  <label for="lastName">Last Name</label>
                  <input form="pass-reset-form" type="text" class="form-control" id="lastName" name="lastName">
                </div>
              </div>
            </div>
            
            <div class="container">
              <div class="row">
                <div class="col-12 form-group">
                  <label for="email">Email</label>
                  <input form="pass-reset-form" type="email" class="form-control" id="email" name="username">
                </div>
              </div>
            </div>
            
            <div class="container">
              <div class="row">
                <div class="col-12 form-group">
                  <label for="passcode">Passcode</label>
                  <input form="pass-reset-form" type="text" class="form-control" id="passcode" name="passcode">
                </div>
              </div>
            </div>
            
            <div class="container">
              <div class="row">
                <div class="col-12 form-group">
                  <label for="newPassword">New Password</label>
                  <input form="pass-reset-form" type="text" class="form-control" id="newPassword" name="newPassword">
                </div>
              </div>
            </div>
            
            <div class="pass-reset-btn-container container">
              <div class="row">
                <div class="col-6">
                  <button form="pass-reset-form" type="submit" id="btn-submit" class="btn button-styles ">Submit</button>
                </div>

              </div>
            </div>
            <%- include('partials/creds') %>
</div>

<%- include('partials/header') %>